body{
    font-family: sans-serif;
}
table, .configurador{
    margin: auto;
    width: 500px;
    border: 1px solid black;
    border-collapse:collapse;
}
table td{
    border: 1px solid black;
    height: 166px;
    width: 166px;
    text-align: center;
    font-size: 96px ;
}
.configurador{
    text-align: center;
    margin-bottom: 10px;
    border: none;
}
.configurador input {
padding: 10px;
}
.configurador span{
    background-color: lightgray;
    padding: 9px 15px 11.5px 15px;
   border: 1px solid gray;
}
.configurador button{
    padding: 7px 10px;
    background-color: lightgray;
    border: 1px solid gray;
}